/*Selector {
    Property: value;
}*/

* {
    text-align: right;
}

body {
    background-image: url(images.jpeg);
    background-size: cover;
}

h2, p {
    color: #AA4139;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: blue;
}

#div2 {
    background: red;
}